<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uscilims.survey.dao.CancerTargetLesionCheckMapper">
  <resultMap id="BaseResultMap" type="com.uscilims.survey.entity.CancerTargetLesionCheck">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="imageCheckId" jdbcType="INTEGER" property="imageCheckId" />
    <result column="checkMethod" jdbcType="VARCHAR" property="checkMethod" />
    <result column="No" jdbcType="VARCHAR" property="no" />
    <result column="targetLesionLocation" jdbcType="VARCHAR" property="targetLesionLocation" />
    <result column="maxDiameter" jdbcType="DOUBLE" property="maxDiameter" />
    <result column="inputName" jdbcType="VARCHAR" property="inputName" />
    <result column="inputTime" jdbcType="VARCHAR" property="inputTime" />
    <result column="updateName" jdbcType="VARCHAR" property="updateName" />
    <result column="updateTime" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, imageCheckId, checkMethod, No, targetLesionLocation, maxDiameter, inputName, 
    inputTime, updateName, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cancercheck_targetlesion
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cancercheck_targetlesion
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uscilims.survey.entity.CancerTargetLesionCheck">
    insert into cancercheck_targetlesion (id, imageCheckId, checkMethod, 
      No, targetLesionLocation, maxDiameter, 
      inputName, inputTime, updateName, 
      updateTime)
    values (#{id,jdbcType=INTEGER}, #{imageCheckId,jdbcType=INTEGER}, #{checkMethod,jdbcType=VARCHAR}, 
      #{no,jdbcType=VARCHAR}, #{targetLesionLocation,jdbcType=VARCHAR}, #{maxDiameter,jdbcType=DOUBLE}, 
      #{inputName,jdbcType=VARCHAR}, #{inputTime,jdbcType=VARCHAR}, #{updateName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uscilims.survey.entity.CancerTargetLesionCheck">
    insert into cancercheck_targetlesion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="imageCheckId != null">
        imageCheckId,
      </if>
      <if test="checkMethod != null">
        checkMethod,
      </if>
      <if test="no != null">
        No,
      </if>
      <if test="targetLesionLocation != null">
        targetLesionLocation,
      </if>
      <if test="maxDiameter != null">
        maxDiameter,
      </if>
      <if test="inputName != null">
        inputName,
      </if>
      <if test="inputTime != null">
        inputTime,
      </if>
      <if test="updateName != null">
        updateName,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imageCheckId != null">
        #{imageCheckId,jdbcType=INTEGER},
      </if>
      <if test="checkMethod != null">
        #{checkMethod,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="targetLesionLocation != null">
        #{targetLesionLocation,jdbcType=VARCHAR},
      </if>
      <if test="maxDiameter != null">
        #{maxDiameter,jdbcType=DOUBLE},
      </if>
      <if test="inputName != null">
        #{inputName,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uscilims.survey.entity.CancerTargetLesionCheck">
    update cancercheck_targetlesion
    <set>
      <if test="imageCheckId != null">
        imageCheckId = #{imageCheckId,jdbcType=INTEGER},
      </if>
      <if test="checkMethod != null">
        checkMethod = #{checkMethod,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        No = #{no,jdbcType=VARCHAR},
      </if>
      <if test="targetLesionLocation != null">
        targetLesionLocation = #{targetLesionLocation,jdbcType=VARCHAR},
      </if>
      <if test="maxDiameter != null">
        maxDiameter = #{maxDiameter,jdbcType=DOUBLE},
      </if>
      <if test="inputName != null">
        inputName = #{inputName,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        inputTime = #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        updateName = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uscilims.survey.entity.CancerTargetLesionCheck">
    update cancercheck_targetlesion
    set imageCheckId = #{imageCheckId,jdbcType=INTEGER},
      checkMethod = #{checkMethod,jdbcType=VARCHAR},
      No = #{no,jdbcType=VARCHAR},
      targetLesionLocation = #{targetLesionLocation,jdbcType=VARCHAR},
      maxDiameter = #{maxDiameter,jdbcType=DOUBLE},
      inputName = #{inputName,jdbcType=VARCHAR},
      inputTime = #{inputTime,jdbcType=VARCHAR},
      updateName = #{updateName,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>