<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uscilims.survey.dao.CancerOperationTreatMapper">
  <resultMap id="BaseResultMap" type="com.uscilims.survey.entity.CancerOperationTreat">
    <id column="tid" jdbcType="INTEGER" property="tid" />
    <result column="cancerTreatId" jdbcType="INTEGER" property="cancerTreatId" />
    <result column="startTime" jdbcType="VARCHAR" property="startTime" />
    <result column="endTime" jdbcType="VARCHAR" property="endTime" />
    <result column="operationName" jdbcType="VARCHAR" property="operationName" />
    <result column="operationxingzhi" jdbcType="VARCHAR" property="operationxingzhi" />
    <result column="operationType" jdbcType="VARCHAR" property="operationType" />
    <result column="treatmentEvaluation" jdbcType="VARCHAR" property="treatmentEvaluation" />
    <result column="inputName" jdbcType="VARCHAR" property="inputName" />
    <result column="inputTime" jdbcType="VARCHAR" property="inputTime" />
    <result column="updateName" jdbcType="VARCHAR" property="updateName" />
    <result column="updateTime" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    tid, cancerTreatId, startTime, endTime, operationName, operationxingzhi, operationType, 
    treatmentEvaluation, inputName, inputTime, updateName, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cancertreat_operation
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cancertreat_operation
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uscilims.survey.entity.CancerOperationTreat">
    insert into cancertreat_operation (tid, cancerTreatId, startTime, 
      endTime, operationName, operationxingzhi, 
      operationType, treatmentEvaluation, inputName, 
      inputTime, updateName, updateTime
      )
    values (#{tid,jdbcType=INTEGER}, #{cancerTreatId,jdbcType=INTEGER}, #{startTime,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR}, #{operationName,jdbcType=VARCHAR}, #{operationxingzhi,jdbcType=VARCHAR}, 
      #{operationType,jdbcType=VARCHAR}, #{treatmentEvaluation,jdbcType=VARCHAR}, #{inputName,jdbcType=VARCHAR}, 
      #{inputTime,jdbcType=VARCHAR}, #{updateName,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.uscilims.survey.entity.CancerOperationTreat">
    insert into cancertreat_operation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        tid,
      </if>
      <if test="cancerTreatId != null">
        cancerTreatId,
      </if>
      <if test="startTime != null">
        startTime,
      </if>
      <if test="endTime != null">
        endTime,
      </if>
      <if test="operationName != null">
        operationName,
      </if>
      <if test="operationxingzhi != null">
        operationxingzhi,
      </if>
      <if test="operationType != null">
        operationType,
      </if>
      <if test="treatmentEvaluation != null">
        treatmentEvaluation,
      </if>
      <if test="inputName != null">
        inputName,
      </if>
      <if test="inputTime != null">
        inputTime,
      </if>
      <if test="updateName != null">
        updateName,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="cancerTreatId != null">
        #{cancerTreatId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="operationName != null">
        #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationxingzhi != null">
        #{operationxingzhi,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null">
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="treatmentEvaluation != null">
        #{treatmentEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="inputName != null">
        #{inputName,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uscilims.survey.entity.CancerOperationTreat">
    update cancertreat_operation
    <set>
      <if test="cancerTreatId != null">
        cancerTreatId = #{cancerTreatId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        startTime = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        endTime = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="operationName != null">
        operationName = #{operationName,jdbcType=VARCHAR},
      </if>
      <if test="operationxingzhi != null">
        operationxingzhi = #{operationxingzhi,jdbcType=VARCHAR},
      </if>
      <if test="operationType != null">
        operationType = #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="treatmentEvaluation != null">
        treatmentEvaluation = #{treatmentEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="inputName != null">
        inputName = #{inputName,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        inputTime = #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        updateName = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uscilims.survey.entity.CancerOperationTreat">
    update cancertreat_operation
    set cancerTreatId = #{cancerTreatId,jdbcType=INTEGER},
      startTime = #{startTime,jdbcType=VARCHAR},
      endTime = #{endTime,jdbcType=VARCHAR},
      operationName = #{operationName,jdbcType=VARCHAR},
      operationxingzhi = #{operationxingzhi,jdbcType=VARCHAR},
      operationType = #{operationType,jdbcType=VARCHAR},
      treatmentEvaluation = #{treatmentEvaluation,jdbcType=VARCHAR},
      inputName = #{inputName,jdbcType=VARCHAR},
      inputTime = #{inputTime,jdbcType=VARCHAR},
      updateName = #{updateName,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>