<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uscilims.survey.dao.CarcinAntigenCheckMapper">
  <resultMap id="BaseResultMap" type="com.uscilims.survey.entity.CarcinAntigenCheck">
    <id column="tid" jdbcType="INTEGER" property="tid" />
    <result column="reviewId" jdbcType="INTEGER" property="reviewId" />
    <result column="haveCancerSignCheck" jdbcType="VARCHAR" property="haveCancerSignCheck" />
    <result column="checkTime" jdbcType="VARCHAR" property="checkTime" />
    <result column="inputName" jdbcType="VARCHAR" property="inputName" />
    <result column="inputTime" jdbcType="VARCHAR" property="inputTime" />
    <result column="updateName" jdbcType="VARCHAR" property="updateName" />
    <result column="updateTime" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    tid, reviewId, haveCancerSignCheck, checkTime, inputName, inputTime, updateName, 
    updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from carcin_antigencheck
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from carcin_antigencheck
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uscilims.survey.entity.CarcinAntigenCheck">
    insert into carcin_antigencheck (tid, reviewId, haveCancerSignCheck, 
      checkTime, inputName, inputTime, 
      updateName, updateTime)
    values (#{tid,jdbcType=INTEGER}, #{reviewId,jdbcType=INTEGER}, #{haveCancerSignCheck,jdbcType=VARCHAR}, 
      #{checkTime,jdbcType=VARCHAR}, #{inputName,jdbcType=VARCHAR}, #{inputTime,jdbcType=VARCHAR}, 
      #{updateName,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uscilims.survey.entity.CarcinAntigenCheck">
    insert into carcin_antigencheck
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        tid,
      </if>
      <if test="reviewId != null">
        reviewId,
      </if>
      <if test="haveCancerSignCheck != null">
        haveCancerSignCheck,
      </if>
      <if test="checkTime != null">
        checkTime,
      </if>
      <if test="inputName != null">
        inputName,
      </if>
      <if test="inputTime != null">
        inputTime,
      </if>
      <if test="updateName != null">
        updateName,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="reviewId != null">
        #{reviewId,jdbcType=INTEGER},
      </if>
      <if test="haveCancerSignCheck != null">
        #{haveCancerSignCheck,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=VARCHAR},
      </if>
      <if test="inputName != null">
        #{inputName,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uscilims.survey.entity.CarcinAntigenCheck">
    update carcin_antigencheck
    <set>
      <if test="reviewId != null">
        reviewId = #{reviewId,jdbcType=INTEGER},
      </if>
      <if test="haveCancerSignCheck != null">
        haveCancerSignCheck = #{haveCancerSignCheck,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        checkTime = #{checkTime,jdbcType=VARCHAR},
      </if>
      <if test="inputName != null">
        inputName = #{inputName,jdbcType=VARCHAR},
      </if>
      <if test="inputTime != null">
        inputTime = #{inputTime,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        updateName = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uscilims.survey.entity.CarcinAntigenCheck">
    update carcin_antigencheck
    set reviewId = #{reviewId,jdbcType=INTEGER},
      haveCancerSignCheck = #{haveCancerSignCheck,jdbcType=VARCHAR},
      checkTime = #{checkTime,jdbcType=VARCHAR},
      inputName = #{inputName,jdbcType=VARCHAR},
      inputTime = #{inputTime,jdbcType=VARCHAR},
      updateName = #{updateName,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>